<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium E-Commerce Suite">
    <listeners>
        <listener class-name="com.newfold.ecommerce.utils.TestListener" />
    </listeners>
    <test name="E2E Checkout Tests">
        <classes>
            <class name="com.newfold.ecommerce.tests.ECommerceE2ETest"/>
        </classes>
    </test>
</suite>
